@{
Layout = "_Layout";
}

<h1>Welcome to the Salon, please select option.</h1>
<p>@Html.ActionLink("See all the stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("See all the clients", "Index", "Clients")</p>