@{
  Layout = "_Layout";
}

@using DataBase.Models;
@model DataBase.Models.Stylist;

<h4>Add a new client</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.Hidden("StylistId", @Model.StylistId);

    <input type="submit" value="Add new Client" class="btn btn-default" />
}